<h1><%= @cocktail.name %></h1>
<h2>Ingredients</h2>

<% @cocktail.doses.each do |dose| %>
<div>
  <h4><%= dose.ingredient.name %> <%= link_to 'delete', dose_path(dose), method: :delete %></h4>
  <p><%= dose.description %></p>
</div>
<% end %>

<%= link_to "add an ingredient", new_cocktail_dose_path(@cocktail) %>
